
<div class="home">
<img src="/images/beer.png" width="280px" height="300">
<a href="/beers"><button class="btnBeers">Check the Beers!</button></a>
<a href="/random-beer"><button class="btnRan">Check a Random Beer!</button></a>
</div>
